In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.linear_model import LinearRegression

# Read the CSV

In [4]:
# Load the test data
test_df = pd.read_csv('Resources/test.csv')
test_df.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,3.0,2850.0,sqft,4200.00,sqft,98119,1175000.0
1,4,5.0,3040.0,sqft,5002.00,sqft,98106,1057500.0
2,3,1.0,1290.0,sqft,6048.00,sqft,98125,799000.0
3,3,2.0,2360.0,sqft,0.28,acre,98188,565000.0
4,3,3.5,1942.0,sqft,1603.00,sqft,98107,1187000.0

In [5]:
# Load the train data
train_df = pd.read_csv('Resources/train.csv')
train_df.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,2.5,2590.0,sqft,6000.00,sqft,98144,795000.0
1,4,2.0,2240.0,sqft,0.31,acre,98106,915000.0
2,4,3.0,2040.0,sqft,3783.00,sqft,98107,950000.0
3,4,3.0,3800.0,sqft,5175.00,sqft,98199,1950000.0
4,2,2.0,1042.0,sqft,NaN,NaN,98102,950000.0

# Perform Data Cleaning

# Split the Data into Training and Testing

In [7]:
# Create our features
X = pd.get_dummies(train_df.drop(columns='price', axis=1))

# Create our target
y = test_df['price']

In [8]:
X.describe()

,beds,baths,size,lot_size,zip_code,size_units_sqft,lot_size_units_acre,lot_size_units_sqft
count,2016.000000,2016.000000,2016.000000,1669.000000,2016.000000,2016.0,2016.000000,2016.000000
mean,2.857639,2.159970,1735.740575,3871.059694,98123.638889,1.0,0.109127,0.718750
std,1.255092,1.002023,920.132591,2719.402066,22.650819,0.0,0.311876,0.449721
min,1.000000,0.500000,250.000000,0.230000,98101.000000,1.0,0.000000,0.000000
25%,2.000000,1.500000,1068.750000,1252.000000,98108.000000,1.0,0.000000,0.000000
50%,3.000000,2.000000,1560.000000,4000.000000,98117.000000,1.0,0.000000,1.000000
75%,4.000000,2.500000,2222.500000,6000.000000,98126.000000,1.0,0.000000,1.000000
max,15.000000,9.000000,11010.000000,9998.000000,98199.000000,1.0,1.000000,1.000000

In [9]:
# Check the balance of our target values
y.value_counts()

875000.0     8
700000.0     7
750000.0     7
1025000.0    6
900000.0     6
            ..
692500.0     1
1108000.0    1
2334500.0    1
545000.0     1
1807000.0    1
Name: price, Length: 322, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

ValueError: Found input variables with inconsistent numbers of samples: [2016, 505]

# Train the model

In [12]:
model = LinearRegression()
model.fit(X_train, X_test)

NameError: name 'X_train' is not defined

In [11]:
# List the features sorted in descending order by feature importance
sorted(zip(model.feature_importances_, X.columns), reverse=True)

NameError: name 'model' is not defined

# Predict Sale Price

# Evaluate the Model

In [13]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

NameError: name 'X_test' is not defined

In [14]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

NameError: name 'y_test' is not defined